@charset "UTF-8";

:root {
    --main-color: #49a09d;
    --secondary-color: #5f2c82; 
    --tertiary-color: #af0a70;
    --quaternary-color: #237cc5;
}

/*Outras medias -----------------------------------*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    section#login {
        width: 85vw;
    }    

    section#login > div#image {
        float: left;
        width: 28%;
        height: 100%;
    }

    section#login > div#form {
        float: right;
        width: 72%;
        height: 100%;
    }
}














/*Telas Grandes -----------------------------------*/
@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--quaternary-color), var(--tertiary-color));
    }

    section#login {
        width: 950px;
    }

    section#login > div#image {
        float: right;
        width: 30%;
        height: 100%;
    }

    section#login > div#form {
        float: left;
        width: 70%;
        height: 100%;
    }

    div#form > h1 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    div#form > p {
        font-size: 1.4em;
    }
}